# Handle line endings
*.py text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.safetensors filter=lfs diff=lfs merge=lfs -text
chatbot_model_small/* filter=lfs diff=lfs merge=lfs -text
